<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sems.sems.Mapper.DataDwdmkMapper">
    <!--   /*
      DWDM	单位代码  ，单位代码库   不插入
      DWMC	单位名称
      DWXZ	单位性质
      DWXZDM	单位性质代码，对应DWXZK 单位性质库
      DWGMDM	单位规模代码，对应DWGMK 单位规模库
      DWGM	单位规模，文本，存储
      DWHYDM	单位行业代码,对应DWHYDMK 单位行业代码库
      DWHY	单位行业
      GSMC	公司名称
      GSJJ	公司简介
      SZDQ	所在地区
      */
  -->

    <insert id="AddDataDwdmk">
        insert into data_dwdmk ( dwmc, dwxz, dwxzdm, dwgmdm, dwgm, dwhydm, dwhy, gsmc, gsjj, szdq)
        values ( #{dwmc}, #{dwxz}, #{dwxzdm}, #{dwgmdm}, #{dwgm}, #{dwhydm}, #{dwhy}, #{gsmc}, #{gsjj}, #{szdq})
    </insert>



    <update id="updateDataDwdmk">
        UPDATE data_dwdmk
        <set>
            <if test="dwmc != null">dwmc = #{dwmc}, /*单位名称*/</if>
            <if test="dwxz != null">dwxz = #{dwxz}, /*单位性质*/</if>
            <if test="dwxzdm != null">dwxzdm = #{dwxzdm},  /*单位性质代码*/</if>
            <if test="dwgmdm != null">dwgmdm = #{dwgmdm}, /*单位规模代码*/</if>
            <if test="dwgm != null">dwgm = #{dwgm},   /*单位规模*/</if>
            <if test="dwhydm != null">dwhydm = #{dwhydm},  /*单位行业代码*/</if>
            <if test="dwhy != null">dwhy = #{dwhy},  /*单位行业*/</if>
            <if test="gsmc != null">gsmc = #{gsmc},   /*公司名称*/</if>
            <if test="gsjj != null">gsjj = #{gsjj},   /*公司简介*/</if>
            <if test="szdq != null">szdq = #{szdq},   /*所在地区*/</if>
            <if test="gsjjhtml != null">gsjjhtml = #{gsjjhtml}   /*公司简介html*/</if>

        </set>
        WHERE dwdm = #{dwdm} /*单位代码*/
    </update>
</mapper>

